*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 255, 240, 0.5);}
@font-face {
    font-family: 'Norse Font';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
  }
h1{
    font-family: 'Norse Font';
    display: inline;
    color: white;
    font-size: 5vmax;
   

  }

.bg-container{
    background-image: url(./backgroundimg.png);
    background-repeat: no-repeat; 
    background-size: cover;
    min-width: 100px;
    width:30vw;
    height: 100vh;
    max-width: 500px;
    padding-top: 20vh;

}
.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    padding: 1vh 1vw;
    
}
.odin-logo{
    width: 25%;
    height: 25%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 5vh;
}
.intro{
    display: flex;
    flex-wrap: wrap;
    width: 52vw;
    font-size: 2vmax;
    margin-left: 2vw;
}
.form-container{
    width: 100%;
    height: 50vh;
    background-color: white;
    box-shadow: 3px 6px rgba(0, 0, 0, .1);
        /* for debugging */

}